.sectionContainer {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 1rem;
  color: #868e96;
  font-size: 18px;
  min-height: 50vh;
}

.infoText {
  max-width: 760px;
  margin: 0 auto;
}
