$theme-colors: (
  "primary": #23578e,
  "secondary": #833bec,
  "success": #039f38,
  "info": #ff7d50,
  "warning": #ff4605,
  "danger": #ff007f,
  "light": #f5f5f5,
  "dark": #001738,
);
$modal-content-bg: transparent;

@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "./embla.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

#contactForm {
  a:hover {
    color: #fff !important;
  }
}

* {
  box-sizing: border-box;
}

/* todo move to specific scss file */
.color-b1 {
  color: #222732;
}
.navbar {
  a.nav-link {
    max-width: 111px;
    &:last-child {
      margin-right: 25px;
    }
  }

  .active {
    font-weight: 700;
  }

  .nav-item {
    align-self: center;
  }
}

.navbar.light-version {
  a.nav-link {
    color: white !important;
  }

  .btn {
    color: white !important;
    :hover() {
      color: white !important;
    }
  }
}

.navbar-default {
  background: none;
  border: 0;
}

.navbar-collapse {
  padding: 0;
}

/* //override width:auto of navbar-collapse */
@media (min-width: 768px) {
  .navbar-collapse {
    width: 100%;
  }
}

.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.hero_viewport {
  overflow: hidden;
  width: 100%;
}

.hero_container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.hero_overlay {
  position: relative;
  overflow: hidden;
  height: 50vh;
  background-image: linear-gradient(
    to left,
    rgba(245, 246, 252, 0.25),
    rgba(35, 87, 142, 0.9)
  );

  span {
    z-index: -1;
  }
}

.hero_content {
  position: relative;
  min-width: 100%;
  // padding-left: 10px;

  h2 {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .hero_overlay {
    height: 40vh;
  }
}

.hero_image {
  object-fit: cover;
  object-position: top center;
  opacity: 0.5;
}

.hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  font-size: 2.5rem;
}

.text-light-gray {
  color: #f5f5f5;
}

.contact-form {
  .col-md-6,
  .col {
    padding: 1rem 0.5rem;
  }
}

.contact-info {
  background-color: #222732;
  padding: 2rem 3rem;
  color: #d9d9d9;

  // svg {
  //   height: 1.25em;
  //   width: 1.25em;
  // }

  .social-icons {
    color: #f5f5f5;

    span {
      padding-right: 1rem;
    }

    a:hover {
      color: white;
    }
  }
}

.dsc-footer {
  background-color: #222732;
  color: #868e96;
  font-size: 0.75rem;
  padding: 1rem 0.5rem;

  a:hover {
    color: #f5f5f5;
  }
  .footer-social-icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    div {
      margin-left: 1rem;
      &:hover {
        color: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}

.letter-container {
  max-width: 950px;

  .card-title {
    font-weight: 700;
    color: #343a40;
  }

  .card-body {
    color: #868e96;
  }

  .image-container {
    transform: rotate(0deg);
  }

  @media (min-width: 1000px) {
    .image-container {
      position: absolute;
      max-width: 400px;
    }
  }

  @media (min-width: 770px) {
    .image-container {
      position: absolute;
      max-width: 315px;
      right: -10px;
      bottom: -40px;
      transform: rotate(7deg);
    }
  }
}

.modal {
  background: transparent !important;
}

.modal-content {
  border: 0;
}

.visit-us-box {
  background-color: #f3f4f6;
  border-radius: 5px;
  :not(h1) {
    color: #868e96;
  }
}

.color-dg {
  color: #2b3240;
}

.btn-hover-white {
  color: #2b3240;

  &:hover {
    color: white !important;
  }
}

.navbar.light-version {
  a.nav-link {
    color: white !important;
  }

  .btn {
    color: white !important;
    :hover() {
      color: white !important;
    }
  }
}
