.sectionContainer {
  background-color: #f3f4f6;
  border-radius: 5px;
  padding: 1rem;
  color: #868e96;
  font-size: 18px;
  min-height: 50vh;
}

.infoText {
  max-width: 760px;
  margin: 0 auto;
}
.contentContainer {
  transition: all 0.5s ease-in-out;
  height: fit-content;
  font-size: 18px;
  margin-right: 30px;
  padding-top: 1rem;
}

.title {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  color: #222732;
}

.dotIcon {
  font-size: 10px;
  margin-right: 2rem;
  margin-top: 0.75rem;
}

.hidden {
  height: 0;
  display: none;
}

.footerText {
  color: #868e96;
}